/* css styles */

/* Project card styling */
.project-card {
  background-color: var(--bs-gray-100);
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

